body{
    background-color: #D1E9FF;
}


/* header */
.name {
    font-family: Rock3D-Regular;
    color: white;
    text-align: center;
    font-size: 45px;
    background-color: #09243D;
}

.header {

    background-color: #09243D;
    height: 300;
    
    
}


/* nav bar */
#nav-buttons button{
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    background-color: #572458;
    border-width: 0;
    font-family: "Arial Black";
    font-size: 20px;
    padding: 10px 30px;
    transition:  background-color .5s, color .5s
    
}

#nav-buttons button:hover{
background-color:#F090F0;
color: black;
}

h2{
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  color: #09243D;
  font-size: 40px
}


.book-cover{
    width: 80%;
    height: auto;
    text-align: center;
}

.magazine-cover{
    width: 80%;
    height: auto;
    text-align: center;
}

.magazine-spread{
    width: 80%;
    height: auto;
    text-align: center;
}

.movie-poster{
    width: 80%;
    height: auto;
    text-align: center;
}

.zodiac-poster{
    width: 80%;
    height: auto;
    text-align: center;
}

.art-show{
    width: 80%;
    height: auto;
    text-align: center;
}

.candy-wrapper{
    width: 80%;
    height: auto;
    text-align: center;
}


.brochure-english-outside{
    width: 80%;
    height: auto;
    text-align: center;
}

.brochure-english-inside{
    width: 80%;
    height: auto;
    text-align: center;
}

.brochure-japanese-outside{
    width: 80%;
    height: auto;
    text-align: center;
}

.brochure-japanese-inside{
    width: 80%;
    height: auto;
    text-align: center;
}